li.sidebar-link
  a
    border-radius: 3px
    &.active
      color: #111
      background: #e5e5e5!important
    &:hover
      text-decoration: none
      background-color: #eee
    .item-tag
      width: 30px
      height: 30px
      background-size: cover
      border-radius: 50%
